*
{
  margin: 0;
  padding: 0;
}
body
{
font-family: sans-serif;
}


#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar
{
background-image: linear-gradient(to right, #fbfbfa, #fefdfb);
padding: 0 !important;
}
.navbar-brand img
{
height: 90px;
width: 310px;
padding-left: 40px;
}

.navbar-nav li
{
padding: 0 10px;
}
.navbar-nav li a
{
color: rgb(3, 3, 3) !important;
font-weight: 600;
float: right;
text-align: left;
}


.fa-bars
{
color: rgb(7, 7, 7);
font-size: 30px !important;
}
.navbar-toggler
{
outline: none !important;
}


/*-------banner section---------*/

#banner
{
background-image: linear-gradient(to right, #5a5a5a, #5a5a5a);
color: #fff;
padding-top: 5%;
}
.promo-title 
{
font-size: 40px;
font-weight: 600;
margin-top: 100px;
}
.play-btn
{
  height: 70px;
  width: 60px;
  margin: 20px;
}

#banner a
{
  color: #fff;
  text-decoration: none;
}

bottom_img
{
  width: 100%;
}

/*-----------Footer-------------*/

#footer { 
    background-image: linear-gradient(to right, #faf6f6, #fefdfd);
    color: rgb(7, 7, 7);
    }
    .footer-img {
      width: 100%;
    }
    
    .footer-box{
      padding: 20px;
    }
    .footer-box img{
      width: 150px;
      margin: 20px;
    }
    
    .footer-box .fa
    {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #faf6f6, #faf6f6);
    }

/*-----------Contact-------------*/

    /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #ffc108;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #ef9713;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;

    padding: 20px;
  }

  /*-----------Carosual-------------*/
  carousel-item {


    float: left;
      width:  100px;
      height: 100px;
      object-fit: cover;
  }
  
  .carousel-control-next {
    background-image: linear-gradient(to right, #f3d424, #e69122);
  }
  .carousel-control-prev {
    background-image: linear-gradient(to right, #f3d424, #e69122);
    width: 20px;
  }
  



  #social-media
{
background: #f8f9fa;
padding: 100px 0;
}
#social-media p
{
font-size: 36px;
font-weight: 600;
margin-bottom: 30px;
}
.social-icons img
{
width: 60px;
transition: 0.5s;
}
.social-icons a:hover img
{
transform: translateY(-10px)
}



/*-----------Product card-------------*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


/*-------aboutus section---------*/

#Aboutus 
{
  padding: 80px 0;
}
.Aboutus-img
{
width: 220px;
margin-top: 60px;
}
.services
{
padding: 20px;
}
.services h4{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::before
{
content: '';
background: #e69122;
height: 5px;
width: 200px;
margin-left: auto;
margin-right: auto;
display: block;
transform: translateY(63px);
}

.title::after
{
content: '';
background: #e69122;
height: 10px;
width: 50px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
display: block;
transform: translateY(8px);
}


#services .btn-primary
{
box-shadow: none;
padding: 8px 25px;
border: none;
border-radius: 20px;
background-image: linear-gradient(to right, #f3d424, #e69122);
}
